<html>
    <head>
        <link rel="style<div style="border:1px solid rgb(139, 92, 92); padding:5px; height: 500px; background-color:azure;">
        <body>
            <div style="border: 1px solid black;">
                <div style="border: 1px solid black;color: #454360;">
                    <center><h1>Contact Me</h1></center>
                </div>
                <div style="border: 1px solid black;display: grid; grid-template-columns: auto auto; height: 300px; align-items: center;">
                    <div  style="border: 1px solid black;color: #454360;">
                        <h2>GET IN TOUCH</h2>
                        <h3>
                   <UL>
                       <b>
                      <li>location:Lagankhel,Kathmandu</li>
                       <li>E-mail:deepeshthapa002@gmail.com</li>
                       <li>Contact.No:9847479813</li>
                       </b>
                   </UL>
                         </h3>
                    </div>
                    <div>
                        <h2 style="color: #454360;">GET IN TOUCH</h2>
                        <Input type="Name" id="Name"
                         placeholder="Name">
                    <br>
                        <Input type="E-maile Address" id="E-mail Address"
                        placeholder="E-mail Address">
                    <br>
                        <TEXTAREA id="text" cols="30" rows="5">
                            Message here
                        </TEXTAREA>
                    <Br>
                        <button>send Message</button>
                    </div>
                </div>

            </div>
        </body>
    </head>
</html>