.me{
    color: #FF4C60;
}
.about{
    color:#454360;
}
.pesonal{
    color:#241f69;
}
.name{
    color: royalblue;
}
.full{
    color: #34314d;
}
.ages{
    color:  #0a0a0c;
}
.age{
    color:royalblue ;
}
.nation{
    color: royalblue ;
}
.nepal{
    color: #07070c;
}
.ghar{
    color: royalblue;
}
.No{
    color:  #08080c;
}
.phone{
color: royalblue;
}
.hindi{
    color: royalblue;
}
.english{
    color: #0e0d13;
}
.last{
    color:royalblue;
}
.deepesh{
    color: royalblue;
}
.color{
    background-color: #F9F9FF;
    color:black;
}
.thapa{
    color: royalblue;
}

