<html>
    <head>
        <link rel="stylesheet" href="./about.css">
        <body>

            <div style="border:1px solid black; padding:5px;">
                <div style="border: 1px solid black; padding: 5px;">
                  <center><h1 class="about">About Me</h1></center>
                </div>
                <div style="border: 1px solid black; padding: 5px;display:grid; grid-template-columns:auto auto;">
                    <div style="border: 1px solid; padding: 5px;">
                        <h1 class="pesonal">PERSONAL INFO</h1>
                        <div style="border: 1px solid black; padding: 5px; display:grid; grid-template-columns:auto auto;">
                            <div >
                                <h3 class="full"> Full Name:<span class="name">Deepesh Thapa</span></h3>
                        </div>
                        <div>
                                 <h3 class="deepesh"> Age:<span class="ages">19</span></h3>    
                        </div>
                        <div>
                                <h3 calss="ram">Address: <span class="ghar">Lagankhel,Kathmandu</span></h3>
                         </div>
                        <div>
                            <h3 class="nation">Nationality:<span class="nepal">Nepali</span></h3>
                        </div>
                        <div>
                                <h3 class="phone">Phone No:<span class="No">9847379813</span></h3>
                        </div>
                        <div>
                                <h3 class="hindi">Language:<span class="english">Nepali,English,hindi</span></h3>
                            
                        </div>

                        </div>
                    </div>
                    <div style="border:1px solid black; padding: 5px; ">
                        <h1>Achivenment</h1>
                    </div>

                </div>
            </div>

        </body>
    </head>
</html>