<!DOCTYPE html>
<html>
    <head>
        <body>
            <div style="border: 1px solid red;padding:5px;">

                <div style="border:1px solid blue;padding:5px;">
                    
                    <div style="border:1px solid black;">

                        <div style="border:1px solid rgb(0, 0, 0);display: grid; grid-template-columns: auto auto auto auto auto;">
                            <div style="border:1px solid blue;padding:5px;">
                                <ul>
                                 <img src="https://pinnacleacademy.edu.np/public/assets/img/logo_footer.png" alt="Logo" height="90px" width="90px">
                                    <li>Lagankhel,lalitapur</li>
                                    <li>01-5544023,01-5544024,01-5540802</li>
                                    <li>E-mail: into@pinnacle.edu.ne</li>
                                    <li>follow us on:
                                        <br>
                                        Facebook
                                    </li>
                                </ul>
                         </div>
                         <div style="border: 1px solid royalblue; padding: 5px;">
                            <div>
                             <ul>
                              <h4>Quick link</h4>
                              <li>About</li>
                              <li>Notice</li>
                              <li>news</li>
                              <li>Dowloads</li>
                              <li>Resources</li>
                              <li>Gallay</li>
                             </ul>
                            </div>   
                         </div>
                         <div style="border: 1px solid rgb(38, 124, 209); padding: 5px;" >
                            <div>
                             <ul class="Result">
                                <h4 style="height: 1px;">Lastest news</h4>
                                <li>!!ACHIEVEMENT!!
                                    <h6 style="height: 1.5px; color: orangered;">Dec 23,2024</h6>
                                </li>
                                <li>Result
                                    <h6 style=" height:1.5px; color: orangered;">Dec 24,2024</h6>
                                </li>
                                <li>Notice
                                    <h6 style=" height:1.5px; color: orangered;">Dec 25, 2024</h6>
                                </li>
                             </ul>
                            </div>
                        </div style="border: 1px solid red; padding: 5px; width:900;">
                        <div class="contact">
                                <h4>Contact form</h4>
                                 <input type="text"
                                 placeholder="Full Name">
                                   <br>
                                 <input type="email"
                                 placeholder="E-mail">
                                   <br>
                                 <textarea id="text" cols="20" rows="7">
                                    Message here
                                 </textarea>
                                    <br>
    
                                 <button>Send</button>
                        </div>
    

                        </div>

                    </div>

                </div>

            </div>
        </body>
    </head>
</html>