<html>
  <head>
    <link rel="stylesheet" href="../public/./css/about.css" />
    <body>
      <div class="D1">
        <div>
          <h1 class="about">About <span style="color: #ff4c60">ME</span></h1>
        </div>
        <div class="second-bor">
          <div class="bar">
            <h1 class="pesonal">PERSONAL INFO</h1>
            <div class="border-bar">
              <div>
                <h3 class="full">
                  Full Name:<span class="name">Deepesh Thapa</span>
                </h3>
              </div>
              <div>
                <h3 class="deepesh">Age:<span class="ages">19</span></h3>
              </div>
              <div>
                <h3 calss="ram">
                  Address: <span class="ghar">Lagankhel,Kathmandu</span>
                </h3>
              </div>
              <div>
                <h3 class="nation">
                  Nationality:<span class="nepal">Nepali</span>
                </h3>
              </div>
              <div>
                <h3 class="phone">
                  Phone No:<span class="No">9847379813</span>
                </h3>
              </div>
              <div>
                <h3 class="hindi">
                  Language:<span class="english">Nepali,English,hindi</span>
                </h3>
              </div>
            </div>
          </div>
          <div class="achivement">
            <h1 class="ment">Achivenment</h1>
          </div>
        </div>
      </div>
    </body>
  </head>
</html>
