<html>
    <head>
        <link rel="stylesheet" href="./contact.css">
        <body>
            <div style="border:1px solid black; padding:5px;">
                <div style="border: 1px solid black; padding:5px;">
                      <center><h1>Contact Me</h1></center>
                </div>
                <div style="border:1px solid black; padding: 5px; display: grid; grid-template-columns: auto auto;">
                    <div style="border: 1px solid black; padding:5px;">
                        <h3>GET IN TOUCH</h3>
                        <UL>
                            <b>
                           <li>location:Lagankhel,Kathmandu</li>
                            <li>E-mail:deepeshthapa002@gmail.com</li>
                            <li>Contact.No:9847479813</li>
                            </b>
                        </UL>
     
                    </div>
                    <div style="border:1px solid black; padding:5px;">
                        <h3>GET IN TOUCH</h3>
                        <Input type="Name" id="Name"
                         placeholder="Name">
                    <br>
                        <Input type="E-maile Address" id="E-mail Address"
                        placeholder="E-mail Address">
                    <br>
                        <Input type="text" id="text"
                        placeholder="Message here.....">
                    <Br>
                        <input type="text" id="SEND MESSAGE"
                        placeholder="SEND MESSAGE">
        
                </div>

                </div>

            </div>
        </body>
    </head>
</html>