<html>
    <head>
        <link rel="stylesheet" href="./contact.css">
        <body>
            <div style="border:1px solid rgb(139, 92, 92); padding:5px; height: 500px; background-color:azure;">
            
                <div style="border: 1px solid black; padding:5px; color:#454360;">

                      <center><h1>Contact Me</h1></center>
                </div>
                <div style="border:1px solid rgb(71, 63, 63); padding: 5px; display: grid; grid-template-columns: auto auto; height: 300px;">

                    <div style="border: 1px solid rgb(143, 101, 101); padding:5px; color: #454360;">

                        <h2>GET IN TOUCH</h2>
                             <h3>
                        <UL>
                            <b>
                           <li>location:Lagankhel,Kathmandu</li>
                            <li>E-mail:deepeshthapa002@gmail.com</li>
                            <li>Contact.No:9847479813</li>
                            </b>
                        </UL>
                              </h3>
                    </div>
                    <div style="border:1px solid rgb(196, 163, 163); padding:5px;">

                        <h2 style="color: #454360;">GET IN TOUCH</h2>
                        <Input type="Name" id="Name"
                         placeholder="Name">
                    <br>
                        <Input type="E-maile Address" id="E-mail Address"
                        placeholder="E-mail Address">
                    <br>
                        <Input type="text" id="text"
                        placeholder="Message here.....">
                    <Br>
                        <input type="text" id="SEND MESSAGE"
                        placeholder="SEND MESSAGE">
        
                </div>

                </div>

            </div>
        </body>
    </head>
</html>