<html>
    <head>
        <link ref="stylesheet" href="./resume.css">
        <body>
            <div style="border:1px solid black; padding:5px;">
                
                <div style="border:1px solid black; padding: 5px;">
                    <center><H1 Class="resume">RESUME</H1></center>
                </div>
                <div style="border:1px solid black; padding:5px;border: 1px solid black; display:grid;grid-template-columns: auto auto;">
                    <div>
                        <h2 class="education"> EDUCATION</h2>
                        <ul>
                            <li class="date">2079</li>
                            <br>
                            <span class="hello">SEE</span>
    
                                <p>I obtained my SEE certification from 
                                 SAMATA schol after completion of grade 10.
                                 And on the same year I started my coding 
                                 journey to as a be beginner.</p>
                             <li class="date"> 2080-2082</li>
                             <br>
                           <span class="hello">Starting High School</span>
    
                               <p> After completion my SEE level. I was Starting
                                   High school level from Pinnacle Collage in 
                                    Management(Computer Science) 
                               </p>
                               <li class="date">2082-Present</li>

                    </div>
                    <div style="border:1px solid black;">
                        <h2 class="experience">EXPERIENCE</h2>
                    <Ul>
                        <li class="date">2081</li>
                         <span class="hello">Beinning of coding jounery</span>
                          <p>
                            I started learnig HTML & cSS from 
                            Life COmputr Institute With help of
                            (Nilaw Manadhar) Brother as a teacher.
                          </p>
                        <li class="date">2082</li>
                         <span class="hello">Fist HTML Portfolio</span>
                         <p> I Started Creating My first Portfolio
                             using just HTML & CSS tool with help 
                             of Nilaw brother.
                         </p>
                         <li class="date">2080</li>
                           <spam class="hello">On the way</spam>
                         <p> I was just try to learning new new thing.
                          I was Continuously learning my jounery.</p>
                    </Ul>
 

                    </div>

                </div>
     
            </div>
        </body>
    </head>
</html>