<html>
    <head>
        <link rel="stylesheet" href="./pinnacle.css">
        <title>pinnacle form websit</title>
    </head>
    <body>
        <div style="border:1px solid black; padding:5px; height: 250px; background-color: #007833; height: 900; width: 900;">
            <div style="border:1px solid rgb(221, 29, 29); height: 250px; height: 700; width: 900;">
                <div style="border:1px solid rgb(29, 27, 182); display: grid; grid-template-columns: auto auto auto auto; height: 400;width: 900;">
                    <div style="border:1px solid rgb(101, 30, 216);padding: 5px;">
                        <img src="https://pinnacleacademy.edu.np/public/assets/img/logo_footer.png" alt="Logo" height="90px" width="90px">
                        <ul class="Lagankhel">
                            <li>Lagankhel,lalitapur</li>
                            <li>01-5544023,01-5544024,01-5540802</li>
                            <li>E-mail: into@pinnacle.edu.ne</li>
                            <li>follow us on:
                                <br>
                                Facebook
                            </li>
                        </ul>
                    </div>
                    <div style="border: 1px solid royalblue; padding: 5px;">
                        <ul class="about">
                            <h5>Quick link</h5>
                            <hr>
                            <li>About</li>
                            <li>Notice</li>
                            <li>news</li>
                            
                            <li>Dowloads</li>
                            
                            <li>Resources</li>
                            
                            <li>Gallay</li>
                        </ul>   
                    </div>
                    <div style="border: 1px solid rgb(13, 14, 15); padding: 5px;" >
                        <h5 style="color: white;">lastest News</h5>
                        <ul class="Result">
                            <li>!!ACHIEVEMENT!!
                                <h6 style=" color: orangered;">Dec 23,2024</h6>
                                
                            </li>
                            <li>Result
                                <h6 style="  color: orangered;">Dec 24,2024</h6>
                                
                            </li>
                            <li>Notice
                                <h6 style="  color: orangered;">Dec 25, 2024</h6>
                                
                            </li>
                        </ul>
                    </div style="border: 1px solid red; padding: 5px; width:900;">
                    <div class="contact">
                            <h4>Contact form</h4>
                             <input type="text"
                             placeholder="Full Name">
                               <br>
                             <input type="email"
                             placeholder="E-mail">
                               <br>
                             <textarea id="text" cols="20" rows="7">
                                Message here
                             </textarea>
                                <br>

                             <button>Send</button>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>