<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./pinnacle.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <body>
            <div class="D1">

                <div class="D2">
                    
                    <div class="D3">

                        <div class="D4">
                            <div class="D5">
                                <ul class="collage">
                                 <img src="https://pinnacleacademy.edu.np/public/assets/img/logo_footer.png" alt="Logo" height="150px" width="150px">
                                    <li><i class="fa-solid fa-location-dot"></i>Lagankhel,lalitapur</li>
                                    <li><i class="fa-solid fa-phone"></i>01-5544023,01-5544024,01-5540802</li>
                                    <li><i class="fa-solid fa-envelope"> </i>into@pinnacle.edu.ne</li>
                                    <li>follow us on:
                                        <br>
                                        <i class="fa-brands fa-facebook"></i>
                                    </li>
                                </ul>
                         </div>
                         <div class="D6">
                            <div class="about">
                             <ul>
                              <h4 class="link">Quick link</h4>
                              <li class="roll">About</li>
                              <li class="roll">Notice</li>
                              <li class="roll">news</li>
                              <li class="roll">Dowloads</li>
                              <li class="roll">Resources</li>
                              <li class="roll">Gallay</li>
                             </ul>
                            </div>   
                         </div>
                         <div style="border: 1px solid rgb(38, 124, 209); padding: 5px;border-style:none;" >
                            <div class="result">
                             <ul>
                                <h4 class="link">Lastest news</h4>
                                <li class="page">!!ACHIEVEMENT!!
                                    <h6 style="height: 1.5px; color: orangered;">Dec 23,2024</h6>
                                </li>
                                <li class="page">Result
                                    <h6>Dec 24,2024</h6>
                                </li>
                                <li class="page">Notice
                                    <h6>Dec 25,2024</h6>
                                </li>
                             </ul>
                            </div>
                        </div>
                        <div class="textarea">
                                <h4 class="input-h4">Contact form</h4>
                                 <input type="text"
                                 placeholder="Full Name">
                                   <br>
                                 <input type="email"
                                 placeholder="E-mail">
                                   <br>
                                   <input type="Tittle"
                                   placeholder="Tittle">
                                     <br>
                                 <textarea id="text" cols="20" rows="7">
                                    Message here
                                 </textarea>
                                    <br>
    
                                 <button>Send</button>
                        </div>
    

                        </div>

                    </div>

                </div>
                <div class="style">

                    <h6 class="style-h6">Coptright @2024 | All Right Reserved</h6>
  
              </div> 
            </div>
        </body>
    </head>
</html>