.collage {
  list-style: none;
  color: white;
  line-height: 30px;
  text-align: left;
  font-size: 20px;
  word-spacing: 0px;

}
.page {
  border-bottom: 1px dashed red;

  width: 120px;
  list-style: none;
  align-items: center;
  line-height: 20px;
  text-align: justify;
  color: white;
  font-style: normal;
  font-size: 16px;
}
input {
  height: 25px;
  width: 300px;
  color: black;
  display: block;
}
textarea {
  height: 90px;
  width: 200px;
  color: black;
  display: block;
}
button {
  height: 35px;
  width: 220px;
  color: white;
  background-color: #f28d2c;
}

/*blow css is upper part of body*/
.D1 {
  background-color: #005d27;
  border: 1px solid red;
  padding: 5px;
  height: 500px;
  width: 100%;
}
.D2 {
  border: 1px solid blue;
  padding: 5px;
  border-style: none;
}
.D3 {
  border: 1px solid black;
}
.D4 {
  border: 1px solid rgb(0, 0, 0);
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.D5{
    border: 1px slod bule;
    padding: 5px;
}
.D6{
    border: 1px solid royalblue;
    padding: 5px;
}
.roll {
  border-bottom: 1px dashed red;
  width: 120px;
  line-height: 40px;
  list-style: none;
  word-spacing: 0px;
  text-align: right;
  text-align: justify;
  color: white;
}
/* below code lower body*/
h4{
    height: 1px;
    color: black;
}
h6{
    height: 1.5px;
    color:orangered;
}
/* blow cde is second lower body*/
.DD1{
    border: 1px solid red;
    padding: 5px;
    width: 900px;

}
.input-h4{
    color: white;
    height: 10px;
}
/* blow code is last part of body*/
.style{
    border: 1px solid black;
    height: 60px;
    color: white;
    background-color: #005d27;
}
.style-h6{
    font-size: medium;
    align-items: baseline;
    text-align: center;
}
.colore{
  color: black;
}