<html>
    <head>
        <style>
            .deepesh{
                display: flex;
                margin: 3px;
                width: 200px;
                padding: 2px;
                font-size: 20px;
                text-indent: 30px;

            }
            

        </style>
        <body>

            <div>
                <form style="display: grid; height: 3px;width: 2px;">
                    <lable for="number">Numner1</lable>
                    <input type="Number" id="Number" Name="Number 1">
                    <lable for="Number">Number2</lable>
                    <input type="Number" id="Number" name="Number2">
                    <div class="deepesh">
                        <div style="border:1px solid black;">
                            +
                        </div>
                        <div style="border: 1px solid;">
                            -
                        </div>
                        <div style="border: 1px solid;">
                            *
                        </div>
                        <div style="border: 1px solid;">
                            /
                        </div>
                    </div>
                    
                    <lable for="Output">Output</lable>
                    <input for="Output" id="number" Name="Output">
                </form>
              

            </div>

        </body>
    </head>
</html>