<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./job.css">
        <body>
            <div class="container">
                <div class="apply">
                   <h1>Job Application<span class="font">(Web)</span></h1>
                    <form action=" job application">
                        <div class="form">
                            <div class="form_control">
                                <lable for="">first Name</lable>
                                <input type="first name" 
                                name="First name"
                                placeholder=" EnterFirst_Name">
                                
                          </div>
                          <div class="form_control">
                            <lable for="">Last Name</lable>
                            <input type="Last name" 
                            name="Last name"
                            placeholder=" Enter Last_Name">
                      </div>
                      <div class="form_control">
                        <lable for="">Email</lable>
                        <input type="Email" 
                        name="Email"
                        placeholder=" Enter EMail">
                  </div>
                  <div class="form_control">
                    <lable for="">Job hold</lable>
                    <select for="job role" name="job role" >
                     <option value="select role">select role</option>
                     <option value="sstudent">student</option>
                     <optipn value="Teacher">teacher</optipn>
                    <option value="Pricipal">priancle</option>   
                    </select> 
              </div>
              <div class="form_control">
                <lable for="address">address</lable>
                <textarea id="address" name="address" row="4" cols="50"
                placeholder="Address"></textarea>
                      </div>
                      <div class="form_control">
                        <lable for="City Name">City Name</lable>
                        <input type="city name" 
                        name=" cityname"
                        placeholder=" Enter city_Name">
                  </div>
                  <div class="form_control">
                                <lable for="pin code">Pin code</lable>
                                <input type="Number" 
                                name="pin code"
                                placeholder=" pin code">
                          </div>
                          <div class="form_control">
                            <lable for="date">date</lable>
                            <input value="Date" 
                            name="Date"/>
                      </div>
                      <div class="form_control">
                        <lable for="Upload">Upload</lable>
                        <input type="Upload" 
                        name="Upload"
                        placeholder="Upload">
                  </div>
                        </div>
                        <div class="button_container">
                            <button type="Submit">Apply Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </body>
    </head>
</html>