html,
body{
    height:100%;
    margin: 0;
    font-size:16px;
    font-family:"Lato",sans-serif;
    font-weight:400;
    line-height:1.8cm;
    color:#666;
}
.image1{
    background-image: url(https://www.google.com/imgres?q=nature%20images&imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F517188688%2Fphoto%2Fmountain-landscape.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3DA63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8%3D&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fstock-photos%2Fnature-and-landscapes&docid=X6uSSfn9NLQBqM&tbnid=oa7_1poSvrt70M&vet=12ahUKEwir3fjuuM6GAxXfSWwGHQ6mAVQQM3oECBgQAA..i&w=612&h=384&hcb=2&ved=2ahUKEwir3fjuuM6GAxXfSWwGHQ6mAVQQM3oECBgQAA);
}